@use "./fragments/variables" as *;

/////// MAIN BODY ////////

.lightmainbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  color: $font-color;
  button,
  li {
    color: $font-color;
  }
}

.darkmainbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-darkcolor;
  color: $font-darkcolor;
  button,
  li {
    color: $font-darkcolor;
  }
}

.maincontainer {
  width: 100%;
  max-width: $max-width;
  min-height: 100vh;
  padding: 0 1rem;
  // overflow: hidden !important;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/////// Header ////////
.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  margin: 0;
  padding: 0;
  li:hover {
    cursor: pointer;
    color: tomato;
  }
}

.navbar {
  width: fit-content;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logobgimg {
  width: 160px;
  height: 60px;
  background: url("../public/CPlogo1.png") no-repeat;
  background-size: 120px 60px;
  h2 {
    margin-left: 2rem;
  }
}

.mainlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  li {
    padding: 0 5px;
    margin: 0 8px;
  }
}

.settingslinks {
  ul {
    display: flex;
    flex-direction: row;
  }
  li {
    font-size: 20px;
    padding: 5px;
    margin: 0 5px;
    // background-color: #fafafa;
  }
  button {
    font-size: 20px;
    background: none;
    border: none;
  }
}

.navbtn {
  width: auto;
  height: auto;
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 1.5rem;
  padding: 5px;
  margin: 2px 5px;
  color: black !important;
  display: none;
  place-content: center;
  border: none;
  z-index: 100000;
}

.mobilelinks {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  padding-top: 5rem;
  width: 90%;
  max-width: 800px;
  background-color: black;
  color: #fff;
  transition: all 300ms ease-in-out;
  z-index: 10000;

  nav {
    width: 100%;
    height: auto;

    ul li {
      padding: 10px 0;
    }
  }
  div {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    li {
      padding: 2px 5px;
      margin: 10px 5px;
    }
    button {
      font-size: 20px;
      background: none;
      border: none;
      color: #fff;
    }
  }
}

.activemobilelinks {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: 5rem;
  width: 90%;
  max-width: 800px;
  background-color: black !important;
  color: #fff;
  transition: all 500ms ease-in-out;
  z-index: 10000;

  nav {
    width: 100%;
    height: auto;

    ul li {
      width: 90%;
      padding: 10px 2px;
      color: #fff;
      &:hover,
      &:focus {
        background-color: white;
        color: black;
        opacity: 1;
      }
    }
  }
  div {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    li {
      font-size: 20px;
      padding: 2px 5px;
      margin: 10px 5px;
      color: #fff;
    }
    button {
      font-size: 20px;
      background: none;
      border: none;
      color: #fff;
    }
  }
}

.dropdownmenu {
  position: absolute;
  top: 60px;
  right: 23px;
  width: 150px;
  height: fit-content;
  display: flex;
  flex-direction: column !important;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
  padding: 1rem;
  background-color: #1111112c !important;
}

.dropdownmenu:hover {
  background-color: #1111112c !important;
}

@media (max-width: 780px) {
  .settingslinks,
  .mainlinks {
    display: none;
  }
  .activemobilelinks,
  .mobilelinks {
    display: block;
  }
  .navbtn {
    display: grid;
  }
}

//////////// FOOTER //////////////

.footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  min-height: 20rem;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

//////////// INDEX/HOME PAGE //////////////

.mainpagecontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
}

.fronttext {
  width: fit-content;
  height: 28rem;
  margin: 1rem;
  padding: 1rem;
  h1 {
    font-size: 3.5rem;
  }
  h4 {
    opacity: 0.6;
    margin-top: -2rem;
    font-size: 1.2rem;
  }
  div {
    display: flex;
    flex-direction: row;
    p {
      margin-right: 10px;
      cursor: pointer;
      span {
        font-weight: 900;
      }
      &:hover {
        color: tomato;
      }
    }
  }
}
.threedmodel {
  width: 20rem;
  height: 28rem;
}

@media (max-width: 780px) {
  .threedmodel {
    display: none;
  }
}
